{% extends "base.html" %}

{% block content %}
    <h1>Sign in</h1>
    <form action="" method="post" novalidate>
        {{form.hidden_tag() }}
        <p>
            {{ form.login.label }}
            {{ form.login(size=32, id="textField") }}
            {% for error in form.login.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.password.label }}
            {{ form.password(size=32, id="passField")}}
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}